@define-color background #011627;
@define-color foreground #d6deeb;
* {
  color: @foreground;
  border: none;
  border-radius: 12px;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: 500;
}

window#waybar {
  background-color: transparent;
}

.modules-center{
  background-color: @background;
  padding: 0 12px 0 4px;
}

.modules-left {
  background-color: @background;
  margin-left: 4px;
  padding: 0 8px;
}

.modules-right {
  background-color: @background;
  margin-right: 4px;
  padding: 0 4px 0 12px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-power{
  min-width: 12px;
  margin: 0 7.5px;
}

#cpu {
  margin: 0 10px;
}

#power-profiles-daemon {
  margin: 0 12px 0 8px;
}


#custom-distro{
  padding: 0 6px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
